* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	height: 100vh;
	background-image: url('https://cdn.glitch.global/d11706a2-a651-46f9-bd3b-0340bf08dabc/diana.jpg?v=1736745089672');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}

.container {
	width: 400px;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.par {
	display: none;
	font-size: 22px;
	font-style: italic;
	color: white;
	text-align: center;
	margin-top: 400px;
	padding: 0 30px;
}

.btn {
	background-color: transparent;
	border: 2px solid black;
	color: rgb(249, 249, 249);
	padding: 10px 30px;
	margin-bottom: 200px;
	font-size: 18px;
	font-weight: 500;
}

.btn:hover {
	cursor: pointer;
	box-shadow: 0 0.5rem 1.6rem 0 rgba(0, 0, 0, 0.705);
	transform: translate(-0.1rem);
	transition: transform 150ms;
}

@media all and (max-width: 855px) {

	.par {
		margin-top: 180px;
		font-size: 16px;
		padding: 0 40px;
	}

	.btn {
		margin-bottom: 70px;
	}

	body {
		background-position: right;
		height: 85vh;
	}

}

@media all and (max-width: 500px) {
	.btn {
		margin-bottom: 100px;
		font-size: 16px;
    color: rgb(12, 40, 12);
	}
    .par{
        margin-top: 300px;
        color: rgb(12, 40, 12);
        font-weight: bold;
    }}