* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background-image: url('https://cdn.glitch.global/d11706a2-a651-46f9-bd3b-0340bf08dabc/roses.jpg?v=1736744860623');
	display: flex;
	justify-content: center;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 100%;
	padding: 0 10px;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	color: white;
	margin-bottom: 20px;
	font-weight: 300;
	text-align: center;
	font-size: 40px;
}

a {
	text-decoration: none;
	color: white;
	text-align: center;
	font-weight: 300;
}

.btn {
	background-color: transparent;
	border: 1px solid white;
	padding: 10px 25px;
	margin: 10px;
	font-size: 18px;
	width: 70%;
}

.btn:hover {
	cursor: pointer;
	box-shadow: 0 0.5rem 1.6rem 0 rgba(255, 255, 255, 0.5);
	transform: translate(-0.1rem);
	transition: transform 150ms;
}