* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	height: 100vh;
	background-image: url('https://cdn.glitch.global/d11706a2-a651-46f9-bd3b-0340bf08dabc/cover.jpg?v=1736745099740');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}

.header {
	display: flex;
	flex-direction: column;
}

.container {
	height: 500px;
	width: 600px;
	overflow: hidden;
	padding: 100px 30px;
	flex-wrap: wrap;
}

h1 {
	margin-top: 70px;
	text-align: center;
	margin-bottom: 50px;
	font-size: 40px;
}

.par{
 font-size: 25px;
 background-color: rgba(236, 228, 228, 0.329);
 border-radius: 15px;
 padding: 10px;
text-align: center;
}

.to-right {
	display: flex;
	justify-content: end;
}

.button {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.btn {
	background-color: rgba(236, 228, 228, 0.576);
	border: 2px solid black;
	padding: 5px 15px;
	margin-top: 15px;
	font-size: 20px;
}

.btn:hover {
	cursor: pointer;
	box-shadow: 0 0.5rem 1.6rem 0 rgba(0, 0, 0, 0.705);
	transform: translate(-0.1rem);
	transition: transform 150ms;
}

.line {
	font-size: 30px;
	font-weight: 300;
}

@media all and (max-width: 855px) {
    h1{
        font-size: 25px;
    }
    .container{
        width: 100%;
        padding: 30px;
    }
    .par{
        font-size:18px ;     
    }
    .btn{
        color: black;
    }

}